header{
    font-size: 14px;       
    text-align: right;
}

article {
    font-family: 'Caveat', cursive;
    font-style: seri;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: justify;
     }
footer{
    font-weight:600;
   
      }
h1{
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    }
h3{
    font-size: 14;
    text-decoration: underline;
    font-family: 'Caveat', cursive;
   }
